.page-background
{
    display: flex; /* Imposta un layout flessibile per il contenitore */
    flex-direction: column;
    justify-content: flex-start; /* Allinea gli elementi all'inizio del contenitore */
    align-items: center; /* Centra gli elementi orizzontalmente */
    margin: 10px;
    padding: 0;
    background-color: #0B0B22;
    width: 1200px;
    border-radius: 10px;
      
}
.img-container{
    min-height: 50vh;
}

.chng-visualization-button{
    display: flex;
    flex-direction: row;
    align-content: center;
  
    align-items: center;
    justify-content: center;
    
    gap: 13px;
}

.caruselb{
   width: 6%;
    /* height: 97%; */
    background-color: #022F47;
    border-radius: 100px;
}
.caruselb:hover{
    filter: drop-shadow(0 0 3px);
}
.carusel{
  width: 27px;
    height: 27px;
    
}
    
.gridb{
     width: 6%;
    /* height: 97%; */
    background-color: #022F47;
    border-radius: 100px;
}
.gridb:hover{
     filter: drop-shadow(0 0 3px);
}

.gridimage{
      width: 27px;
    height: 27px;
}

